<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas Caseirast</title>
</head>

<body>
    <h1>Receitas Caseiras</h1>
    <h2>Sejá Bem Vindo ao Site</h2>

    <table>
        <thead>
            <tr>
                <td>Nome da Receita</td>
                <td>Ingredientes</td>
                <td>Modo de Preparo</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bolo de Fubá</td>
                <td>1 xicara e 1/2 (chá) de fubá mimoso, 1 xicara (chá) de Farinha de Trigo, 2 xícaras (chá) de açúcar,
                    4 ovos, 1 xicara (chá) de óleo, 1 xicara (chá) de leite, 1 colher (sopa) de fermento em pó, 1 colher
                    de sementes de erva-doce, 1 pitada de sal</td>
                <td>Coloque no liquidificador os ovos, o açúcar, o óleo, o leite e bata. Acrescente o fubá, a farinha de
                    trigo e o fermento. Bata mais um pouco. Misture com uma colher as sementes de erva-doce. Coloque em
                    uma forma untada com manteiga e farinha de trigo. Leve para assar em forno preaquecido a 180°C até
                    dourar.</td>
            </tr>
        </tbody>
    </table>
</body>

</html>